/* ===============================
   FONT IMPORT
================================= */
@font-face {
  font-family: 'TROPICALASIA';
  src: url('fonts/TROPICALASIA.ttf') format('truetype'),
    url('fonts/TROPICALASIA.woff') format('woff'),
    url('fonts/TROPICALASIA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* ===============================
   BASE STYLES
================================= */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
}

body,
ul,
li,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  color: var(--secondary);


}

h1,
h2,
p {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: var(--secondary);
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;

}

h2 {
  color: var(--main-color);
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;



}

h3 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--contrast);



}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-color: #499e75;
  --background: #f0fdfa;
  --secondary: #595642;
  --contrast: #0C703F;
  --golden: #D6A855;
}

/* ===============================
   NAVIGATION
================================= */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  position: absolute;
  width: 100%;
  top: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 9.5rem;
}

.logo {
  width: 11rem;
  height: 4rem;
  background-image: url('img/LOGO2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-right: 9.5rem;
  font-family: TROPICALASIA;
}

.nav-links li {
  font-size: 3rem;
  color: #6ea392;
  transition: color 0.3s ease;
  display: inline-block;
  margin-left: 4rem;
}

.nav-links li:hover {
  color: #5bc0be;
  transition: color 0.3s ease;
}


.menu-nav {
  position: relative;
  display: none;
}

.toggle {
  display: none;
}

.hamburguesa {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;

}

.hamburguesa span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--contrast);
  border-radius: 2px;
  transition: transform 0.3s ease;

}

.toggle:checked+.hamburguesa span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}

.toggle:checked+.hamburguesa span:nth-child(2) {
  opacity: 0;
}

.toggle:checked+.hamburguesa span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 5;

}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  color: var(--background);
  cursor: pointer;
  z-index: 1001;
}

.close-icon:hover {
  color: var(--main-color);
}

.toggle:checked~.menu {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.menu li {
  list-style: none;
  margin: 2rem 0;
  font-size: 10rem;
  font-family: TROPICALASIA;

}

.menu a {
  text-decoration: none;
  color: var(--background);
}




/* ===============================
   HAMBURGER MENU
================================= */
.menu-nav {
  position: relative;
  display: none;
}

.toggle {
  display: none;

  &:checked {
    +.hamburguesa {
      span:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
      }
    }

    ~.menu {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
  }
}

.hamburguesa {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--contrast);
    border-radius: 2px;
    transition: transform 0.3s ease;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 5;

  li {
    list-style: none;
    margin: 2rem 0;
    font-size: 10rem;
    font-family: TROPICALASIA;
  }

  a {
    text-decoration: none;
    color: var(--background);
  }
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  color: var(--background);
  cursor: pointer;
  z-index: 1001;

  &:hover {
    color: #5bc0be;
  }
}



/* ===============================
   HERO SECTION
================================= */
.hero-section {
  width: 100%;
  height: 30rem;
  background-image: url('img/hero_about.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    font-family: "TROPICALASIA";
    font-size: 4rem;
    color: #2c2c2c;
    text-align: center;
    margin-top: 3rem;
    font-weight: normal;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    padding: 1rem 2rem;
    border-radius: 5px;
  }
}

/* ===============================
   ABOUT SECTION
================================= */
.about-ministry {
  padding: 3rem 0;
  margin-top: 5rem;

  .about-content {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;


    .about-text {
      flex: 1;
      font-family: "Raleway", sans-serif;
      color: var(--secondary);
      margin-left: 2rem;
      opacity: 0;
      animation: fadeIn 1s ease-out forwards;
      animation-delay: 0.3s;

      h2 {
        font-size: 2.5rem;
        color: var(--main-color);
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    .about-image {
      flex: 0 0 45%;
      height: 25rem;
      background-image: url('img/sapa.jpg');
      background-size: cover;
      background-position: center;
      margin-right: 0;
      opacity: 0;
      animation: fadeIn 1s ease-out forwards;
      animation-delay: 0.6s;
    }
  }
}

.full-width-image-section {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("img/bahia_halong.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  top: 7rem
}

.text-overlay {
  position: relative;
  top: 2rem;
  max-width: 30%;
  max-height: 100%;
  margin-left: 9rem;
  padding: 5rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 1) 100%);
}

.text-overlay h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--contrast);
}

.text-overlay p {
  font-size: 1rem;
  margin: 1rem 0rem 1rem 1rem;
  color: var(--secondary);
}


.places {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, var(--background) 60%);
  height: 200vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap !important;

  .sectionplaces {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;




    .places-to-go {
      display: flex;
      flex-direction: column;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(214, 169, 85, 0.585) 40%);
      width: 60vw;
      height: 85vh;


      .places-text {
        margin-left: 150px;
        position: relative;
        padding: 1rem;

        .places-img {
          background-image: url("img/da-nang-about.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          width: 25vw;
          aspect-ratio: 3/2;
          bottom: 25vh;
          left: 25vw;
        }

        p:nth-of-type(1) {
          margin-right: 28vw;
        }




      }


      .howtoget {
        align-self: flex-end;

        button {
          height: 5vh;
          background-color: var(--main-color);
          border: 1px solid var(--contrast);
          color: var(--secondary);
          border-radius: 4px;
          padding: 0 1.5rem;
          font-size: 2rem;
          cursor: pointer;
          transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
          font-family: "TROPICALASIA";
          margin: 0 5vw 0 0;
          margin-bottom: auto;

        }

        button:hover {
          transform: scale(1.03);
          background-color: var(--golden);
          color: var(--background);

        }

        button:active {
          transform: scale(0.98);
        }


      }
    }


    .places-to-go {
      display: none;
      animation: fadeLeft 1s ease-out forwards;


    }

    .places-to-go.hoian {
      display: flex;


    }

    .places-to-go.halong .places-text .places-img {
      background-image: url("img/ha_long_about.jpg");
      bottom: 37vh;
    }

    .places-to-go.hanoi .places-text .places-img {
      background-image: url("img/hanoi_about.jpg");
    }

    .places-to-go.sapa .places-text .places-img {
      background-image: url("img/sapa_about.jpg");
      bottom: 37vh;
    }

    .places-to-go.ninhbinh .places-text .places-img {
      background-image: url("img/ninh_binh_about.jpg");
      bottom: 35vh;

    }

    .places-to-go.hue .places-text .places-img {
      background-image: url("img/hue_about.jpg");
      bottom: 35vh;

    }

    .places-to-go.hoian .places-text .places-img {
      background-image: url("img/hoi-an-about.jpg");
      bottom: 37vh;
    }

    .places-to-go.phongnha .places-text .places-img {
      background-image: url("img/dong-ph-about.jpg");
      bottom: 37vh;

    }

    .places-to-go.hochiminh .places-text .places-img {
      background-image: url("img/ho-chi-min-about.jpg");
      bottom: 32vh;

    }

    .places-to-go.mekong .places-text .places-img {
      background-image: url("img/mekong_about.jpg");
      bottom: 32vh;
    }

  }

  .places-grid {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(5, 120px);
    gap: 10px;
    width: auto;
    height: auto;
    position: absolute;
    left: 60.5vw;
    top: 50vh;
    cursor: pointer;


    .grid-item {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 10px;
      font-weight: bold;
      border-radius: 4px;
      transition: transform 0.2s ease;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        transform: scale(1.05);

        .place-info {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .place-info {
        background-color: rgba(0, 0, 0, 0.6);
        color: var(--background);
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        opacity: 0;
        transform: translateY(20%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        h3 {
          font-size: 1rem;
          margin: 0;
          color: var(--background);
        }
      }

      &.hoian {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        background-image: url("img/hoi-an-about.jpg");
      }

      &.hochiminh {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        background-image: url("img/ho-chi-min-about.jpg");

      }

      &.danang {
        grid-column: 4 / span 2;
        grid-row: 1 / span 1;
        background-image: url("img/da-nang-about.jpg");


      }

      &.halong {
        grid-column: 3 / span 3;
        grid-row: 2 / span 2;
        background-image: url("img/ha_long_about.jpg");

      }

      &.hue {
        grid-column: 1 / span 1;
        grid-row: 3 / span 3;
        background-image: url("img/hue_about.jpg");

      }

      &.ninhbinh {
        grid-column: 2 /span 1;
        grid-row: 3/ span 2;
        background-image: url("img/ninh_binh_about.jpg");

      }

      &.sapa {
        grid-column: 2 / span 2;
        grid-row: 5 / span 1;
        background-image: url("img/sapa_about.jpg");

      }

      &.hanoi {
        grid-column: span 1;
        grid-row: span 2;
        background-image: url("img/hanoi_about.jpg");

      }



      &.phongnha {
        grid-column: 3 / span 2;
        grid-row: 4 / span 1;
        background-image: url("img/dong-ph-about.jpg");

      }

      &.mekong {
        grid-column: 4 / span 1;
        grid-row: 5 / span 1;
        background-image: url("img/mekong_about.jpg");

      }




    }
  }

}

.cultural-landmarks-section {
  position: relative;
  background-image: url('img/silueta.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: -75vh;
}

.text-overlay-content {
  max-width: 35%;
  margin-right: 9rem;
  padding: 2rem;

}

.text-overlay-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--contrast);
}

.text-overlay-content p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: var(--secondary);
}

.carousel-container {
  width: 100%;
  height: 20vh;
  padding: 3rem 0;
  margin-top: -20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  background: linear-gradient(to bottom, var(--golden), #F7E7C6, #f0fdfa);

  .carousel {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scrollCarousel 60s linear infinite;
    margin-top: -40rem;

    .carousel-item {
      flex: 1 1 auto;
      max-width: 12vw;
      height: 18rem;
      min-width: 12vw;

      border-radius: 10px;
      background-color: var(--main-color);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 0.5rem;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      justify-content: first baseline;

      img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        border-radius: 8px;
      }

      p {
        font-size: 0.85rem;
        color: var(--secondary);
        line-height: 1.4;
        margin-top: 0.5rem;
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
      }
    }

    button {
      height: 3vh;
      background-color: var(--contrast);
      border: 1px solid var(--background);
      color: var(--golden);
      border-radius: 4px;
      padding: 0 1.5rem;
      font-size: 1rem;
      white-space: nowrap;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
      font-family: "TROPICALASIA";
      margin: auto;

      &:hover {
        transform: scale(1.03);
        background-color: var(--golden);
        color: var(--background);
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}

@keyframes scrollCarousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-15%);
  }
}


.view-tours-btn-container {
  margin-top: 2rem;
  text-align: center;
}

.view-tours-btn {
  display: inline-block;
  background-color: var(--background);
  color: var(--secondary);
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.view-tours-btn:hover {
  background-color: var(--golden);
  color: var(--background);
}



.gastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 150px;
  height: 100vh;

  h2 {
    align-self: flex-end;

  }

  .gastro-section {
    display: flex;

    .gastro-img {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 160vw;

      img {
        width: 300px;
        left: 70vw;
        position: absolute;
      }

      img:nth-of-type(1) {
        left: 55vw;
      }

      img:nth-of-type(2) {

        left: 55vw;
        top: 35vh;
        z-index: 5;
      }

      img:nth-of-type(3) {
        left: 65vw;
        top: 18vh;
        z-index: 4;
      }

      img:nth-of-type(4) {
        left: 70vw;
        z-index: 2;

        top: 35vh;
        width: 500px;
      }


    }

    .gastro-text {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 30vw;

      p {
        margin-left: -55vw;
        width: 30vw;


      }

      button {
        height: 5vh;
        background-color: var(--main-color);
        border: 1px solid var(--contrast);
        color: var(--secondary);
        border-radius: 4px;
        padding: 0 1.5rem;
        font-size: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
        font-family: "TROPICALASIA";
        margin: 3vh 0 0 -55vw;
        margin-bottom: auto;
        width: 15vw;


      }

      button:hover {
        transform: none;
        background-color: var(--golden);
        color: var(--background);



      }

      button:active {
        transform: none;
      }
    }



  }
}



/* ===============================
   FOOTER
================================= */
footer {
    background-color: #bbc6c4;
    font-family: "Raleway", sans-serif;
    padding: 2rem 0;
    color: #555;
    margin-top: 10rem;
}

.footer-line-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    position: relative;
}


.footer-center {
    text-align: center;
}

.footer-center img {
    width: 120px;
    height: auto;
}

.footer-line-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.footer-contact {
    flex: 1;
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: -30vh;
}

.footer-social {
    flex: 1;
    text-align: center;
    margin: 0 auto;
}

.footer-social p {
    font-family: "TROPICALASIA";
    font-size: 1.2rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-nav {
    flex: 1;
    text-align: right;
    margin-right: 2rem;
    margin-top: -30vh;

}

.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    font-family: "TROPICALASIA";
    font-size: 2rem;
    margin-top: 1rem;
}

.footer-nav a {
    color: var(--main-color);
    text-decoration: none;
}

.footer-nav a:hover {
    color: #5bc0be;
}

.footer-line-3 {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    padding-top: 1.5rem;
    border-top: 1px solid #ddd;
}

.footer-line-3 a {
    color: var(--main-color);
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer-line-3 a:hover {
    text-decoration: underline;
}



/* ===============================
   ANIMATIONS
================================= */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {


  .nav-links {
    gap: .5rem;
  }

  .full-width-image-section {
    height: 130vh !important;
  }

  .text-overlay {
    max-width: 100vw !important;
  }

  .places {
    margin-top: 50vh;

    h2 {
      margin-bottom: 20vh !important;
    }
  }


  .text-overlay-content {
    max-width: 60%;
    margin-right: 2em;
    padding: 2rem;

  }

  .places-to-go {
    width: 90vw !important;
    height: 130vh !important;

    .places-text {
      margin-left: 0 !important;
    }
  }

  .cultural-landmarks-section {
    margin-top: 110vh;
  }

  .places-img {
    display: none;
  }

  .places-grid {
    grid-template-columns: repeat(5, 60px) !important;
    grid-template-rows: repeat(5, 60px) !important;
    top: 25vh !important;
    left: 62vw !important;

  }

  button {
    height: 8vh !important;

  }

  .carousel-item {
    min-width: 20vw !important;
    max-width: 20vw !important;
  }

  .carousel {
    margin-top: -50vh !important;
  }

  .footer-contact {
    h3 {
      white-space: nowrap;
      font-size: 1.5rem;
    }
  }

  .gastro {
    height: 110vh;
  }

  .gastro-section {
    display: flex;

    .gastro-img {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 160vw;

      img {
        width: 250px !important;
        position: absolute;
        margin-right: 20vw !important;
      }

      img:nth-of-type(1) {
        left: 50vw !important;
      }

      img:nth-of-type(2) {
        left: 50vw !important;
        top: 60vh !important;
        z-index: 5;
        width: 150px !important;
      }

      img:nth-of-type(3) {
        left: 60vw !important;
        top: 18vh;
        z-index: 4;
      }

      img:nth-of-type(4) {
        left: 65vw !important;
        top: 35vh;
        z-index: 2;
        width: 300px !important;
      }

    }

    .gastro-text {
      padding-left: 1rem;

      p {
        width: 48vw !important;
        margin-left: -65vw !important;

      }
    }
  }
}

@media (max-width: 768px) {

  .nav-links {
    display: none;
  }

  .menu-nav {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .menu a {
    display: inline-block;
    text-align: center;
    width: auto;
    font-size: 3rem;
  }

  .hero {
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    top: 6rem;
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background:
      linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.7) 70%),
      url('img/hero_home.jpg') center/cover no-repeat;
  }

  .hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    line-height: 1.5;
  }

  .hero h2 span {
    display: block;
    margin-left: 1.5rem;
  }

  .hero-text {
    position: relative;
    z-index: 10 !important;
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem 2rem;
    text-align: justify;
    color: var(--background);
  }

  .hero h1 {
    text-align: center;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }

  .btn {
    margin: 0.5rem 0;
    width: 80%;
    max-width: 300px;
  }

  .intro-section {
    display: flex;
    flex-direction: column;
    margin-top: 50vh !important;
  }


  .text-container {
    flex: 0 0 100%;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    text-align: justify;
    z-index: 1;
    position: relative;
    margin-top: -10rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    .market {
      width: 100%;

    }
  }

  .text-container h2 {
    font-size: 1.8rem;
    margin-top: -1.5rem;
  }

  .text-container p {
    font-size: 1rem;
    margin: 2rem 1rem 0rem 1rem;

  }

  .text-container p:first-of-type {
    margin-top: 3rem;
  }


  .whychoose {
    margin-top: 20vh;
    padding: 0 2rem !important;
  }

  .whyimg {
    min-width: 20vw;
    margin-left: 0;
    height: 220vh !important;
  }

  .why-cta {
    flex-direction: column;
  }

  .history {
    height: 250vh;

    .hist-background {
      padding: 0 !important;
      
    }

  }

  .hist-background {
    
    height: 300vh !important;



    h2 {
      font-size: 2.5rem;
    }

  }

  .hist-text {
    height: 150vh !important;
    width: 100vw !important;
    background-image:
      linear-gradient(to right, rgba(240, 253, 250, 0.635) 80%, rgba(0, 0, 0, 0) 100%) !important;

    p {
      width: 80vw !important;
    }

  }

  .history-img {
    display: none;
  }

  .festival-section {
    display: flex;
    flex-direction: column;
  }

  .festival-grid {
    gap: 1rem;
    grid-template-columns: repeat(3, 150px) !important;
  }

  .text-overlay {
    max-width: 100% !important;
    margin-left: 0 !important;


  }

  .full-width-image-section {
    padding: 1rem;
  }

  .places {
    margin-top: 40vh;
    width: 100vw !important;
    
    height: 180vw;

    p {
      margin-right: 0 !important;
    }
  }

  .sectionplaces {}

  .places-to-go {
    width: 100vw !important;
    height: 110vh !important;

  }


  .places-text {
    margin-left: 0 !important;
  }

  .places-grid {
    top: 130vh !important;
    left: 5vw !important;
    grid-template-columns: repeat(5, 80px) !important;
    grid-template-rows: repeat(5, 80px) !important;


  }

  .places-img {
    display: none;
  }

  .cultural-landmarks-section {
    margin-top: 180vh;

  }

  .text-overlay-content {
    max-width: 80%;
    margin-right: 2em;
    padding: 2rem;

  }

  .carousel-item {
    min-width: 40vw !important;
    max-width: 40vw !important;
  }

  .gastro {
    height: 150vh;
          h2{
        font-size: 2.5rem !important;
        white-space: nowrap;
        align-self: center;
      }

  }

  .gastro-section {
    display: flex;
    

    .gastro-img {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 160vw;

      img {
        width: 200px !important;
        position: absolute;
        margin-right: 20vw !important;
      }

      img:nth-of-type(1) {
        left: 50vw !important;

      }

      img:nth-of-type(2) {
        left: 50vw !important;
        top: 80vh !important;
        z-index: 5;
        width: 150px !important;
      }

      img:nth-of-type(3) {
        left: 40vw !important;
        top: 18vh;
        z-index: 4;
      }

      img:nth-of-type(4) {
        left: 30vw !important;
        top: 35vh;
        z-index: 2;
        width: 300px !important;
      }

    }

    .gastro-text {
      padding-left: 1rem;

      p {
        width: 48vw !important;
        margin-left: -65vw !important;
        

      }
      button{
        height: 8vh !important;
        width: 25vw !important;
      }
    }
  }

}